/*==========================================================================*\
  # Containers
\*==========================================================================*/

.container {
    max-width: 1310px;
    width: 100%;
    margin: 0 auto;
    padding: 0 rem(40);

    @include query-to(900) {
        padding: 0 rem(20);
    }



    // &.container--medium {
    //     max-width: 1520px;//1460px;
    //     padding: 0 min(max(3rem, 2vw), 4rem);
    // }
    // &.container--small {
    //     max-width: 1460px; //
    // }
    // &.container--tiny {
    //     max-width: 1230px;
    // }

    // @include query-to(1200) {
    //     padding: 0 rem(20);
    // }
    // @include query-to(400) {
    //     padding: 0 rem(20);
    // }
}