.footer {
	padding: 0 rem(40);
	background-color: $white;
	position: relative;
	z-index: 1;

	@include query-to(900) {
        padding: 0 rem(20);
    }

	.footer-animation {
		padding: min(max(20rem, 15vw), 30rem) 0;
		//padding: 20rem 0 30rem;
		position: relative;

		.title {
		    position: relative;
		    display: block;
		    width: 0;
		    margin: 0 auto;

			.title-left {
				position: absolute;
			    right: 0.15em;
			    top: 0;
			    white-space: nowrap;
			}

			.title-right {
				position: absolute;
				left: 0.15em;
				top: 0;
				white-space: nowrap;
				//transform: translateY(10%);
				//opacity: 0;
				//background-color: $white;
			}
		}
	}

	.footer-content {
		padding-bottom: 3rem;

		.h2 {
			//color: $black;
			margin-bottom: min(max(3rem, 3vw), 6rem);
		}

		.inner {
			display: flex;
			justify-content: space-between;
			align-items: flex-end;
			gap: $gap;

			@include query-to(600) {
				flex-direction: column;
			}
			@include query-to(360) {
				align-items: flex-start;
			}

			.grid {
				display: grid;
				grid-template-columns: repeat(5, 1fr);
			 	gap: min(max(3rem, 3vw), 7rem);
				max-width: 1090px;
				width: 100%;

				.grid__item {
					& > :last-child {
						margin-bottom: 0;
					}
				}

				@include query-to(1350) {
					grid-template-columns: repeat(4, 1fr);
				}
				@include query-to(1040) {
					grid-template-columns: repeat(3, 1fr);
				}
				@include query-to(840) {
					grid-template-columns: repeat(2, 1fr);
				}
				@include query-to(360) {
					grid-template-columns: 1fr;
				}
			}
			.socials {
				color: #2D2926;
				display: flex;
				justify-content: flex-end;
				gap: $menu-gap;

				a {
					text-wrap: nowrap;
					text-decoration: underline;
					text-transform: uppercase;
				}
			}
		}
		
	}

	.copyright-content {
		@include flex();
		flex-wrap: wrap;
		justify-content: space-between;
		gap: 2rem;
		padding-top: 2rem;
		padding-bottom: 4rem;
		border-top: solid 1px $grey;

		@include query-to(1400) {
			flex-direction: column;
		}

		.copyright-text {
			color: $black;
			display: flex;
		    align-items: center;
			gap: $menu-gap;

			@include query-to(800) {
				flex-direction: column;
				align-items: flex-start;
			}

			// img {
			// 	filter: brightness(0);
			// }

			ul {
				display: flex;
				//flex-wrap: wrap;
				gap: $menu-gap;
				list-style: none;

				@include query-to(800) {
					flex-wrap: wrap;
					gap: 2rem;
					row-gap: 0;
				}
			}
		}

		.copyright-created {
			text-align: right;
		    display: flex;
    		gap: 4rem;
    		align-items: center;

    		@include query-to(800) {
				flex-wrap: wrap;
				gap: 3rem;
			}

			p {
				display: flex;
				align-items: center;
				gap: $menu-gap;
				margin-bottom: 0;

				@include query-to(800) {
					flex-wrap: wrap;
					gap: 2rem;
					row-gap: 0;
				}
			}

			a {
				color: #666;
				text-decoration: none;

				img {
					position: relative;
					top: -0.2rem;
					display: inline-block;
					width: auto;
					height: 1.6rem;
					margin-left: 1rem;
					vertical-align: middle;
					opacity: 0.9;
					@include transition();
				}

				&:hover {
					color: $red;
					text-decoration: none;

					img {
						opacity: 1;
					}
				}
			}
		}
	}
		
}